In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
# Read csv into a DataFrame
wellness_df = pd.read_csv("../Resources/Wellbeing_and_lifestyle_data_Kaggle.csv")
wellness_df

,Timestamp,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
0,7/7/15,3,2,2,5,0,5,2,0,1,...,7,5,5,1,4,0,5,36 to 50,Female,609.5
1,7/7/15,2,3,4,3,8,10,5,2,2,...,8,2,2,2,3,2,6,36 to 50,Female,655.6
2,7/7/15,2,3,3,4,4,10,3,2,2,...,8,10,2,2,4,8,3,36 to 50,Female,631.6
3,7/7/15,3,3,10,3,10,7,2,5,2,...,5,7,5,1,5,2,0,51 or more,Female,622.7
4,7/7/15,5,1,3,3,10,4,2,4,2,...,7,0,0,2,8,1,5,51 or more,Female,663.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15967,3/14/21 5:42,3,3,0,4,0,10,0,4,2,...,7,0,1,1,5,2,5,51 or more,Female,644.5
15968,3/14/21 6:30,3,3,6,8,7,4,6,3,1,...,6,0,0,2,10,5,8,21 to 35,Female,714.9
15969,3/14/21 8:35,4,3,0,10,10,8,6,5,1,...,7,0,1,2,10,1,10,21 to 35,Male,716.6
15970,3/14/21 8:43,1,1,10,8,2,7,3,2,1,...,8,7,2,2,1,6,8,21 to 35,Female,682.0
15971,3/14/21 9:03,5,4,0,2,10,10,5,1,2,...,8,5,2,2,1,8,4,21 to 35,Female,651.4

In [6]:
# DataFrame to show if sleep has any relationship with daily stress, daily steps, social network, supporting others
sleep_df = wellness_df[["SLEEP_HOURS", "DAILY_STRESS", "DAILY_STEPS", "SOCIAL_NETWORK", "SUPPORTING_OTHERS"]]
sleep_df

,SLEEP_HOURS,DAILY_STRESS,DAILY_STEPS,SOCIAL_NETWORK,SUPPORTING_OTHERS
0,7,2,5,5,0
1,8,3,5,10,8
2,8,3,4,10,4
3,5,3,5,7,10
4,7,1,5,4,10
...,...,...,...,...,...
15967,7,3,10,10,0
15968,6,3,6,4,7
15969,7,3,5,8,10
15970,8,1,1,7,2
15971,8,4,1,10,10